<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conference Paper Review Form</title>
  <style>
  body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }
  
  header {
    text-align: center;
    padding: 10px;
    background-color: rgb(8, 8, 156);
    color: #fff;
  }
  
  .form-container {
    max-height: 650px;
    max-width: 800px; 
    overflow-y: auto;
    text-align: center;
    margin: 0 auto;
  }
  
  form {
    width: 60vw;
    max-width: 800px; 
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  table,
  fieldset,
  textarea {
    width: 100%; /* Set width to 100% for consistent width */
    box-sizing: border-box; 
    margin: 20px auto; 
  }
  
  fieldset {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0; 
  }
  
  textarea {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0; 
  }
  
  button {
    background-color: rgb(8, 8, 156);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-left: 315px;
  }
  
  button:hover {
    background-color: rgb(8, 8, 156);
  }
  
  table {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 60%;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr
  {
    width: 60%;
  }
  .mainBox{
	  border: 2px solid #707070;
	  padding : 10px;
	  margin : 5px;
	  display: flex;
	  justify-content: space-between;
  }
</style>
</head>

<body>
  <header>
    <h1>Conference Paper Review Form</h1>
  </header>


    <div class="mainBox">
      
        <div class="blabla1">
        
          <p>Paper ID : <span id="paperPid"></span></p>
          <p>Title : <span id="paperTitle"></span></p>
          <p>Authors : <span id="paperAuthors"></span></p>
          <p>Date Allocated : <span id="paperDateAllocated"></span> </p>
 		  
         </div>
         <div>
			 
		 </div>
		<div class="blabla2">
			<p>Reviewer : <span id="userFirstName"></span><span> </span><span id="userLastName"></span></p>
 		  <p>E-mail : <span id="userName"></span> </p>
 		  <p>DeadLine : <span id="paperDeadline"></span> </p>
		</div>
		<div></div>
		<div></div>
    </div>
<hr>
<form id="reviewForm" method="POST">
    <table>
      <tr>
          <th>Evaluation Category</th>
          <th>Enter Your Score (out of 10)</th>
      </tr>
      <tr>
          <td>Technical Content and Accuracy</td>
          <td><input type="number" id="TechnicalContentandAccuracy" name="technicalContentandAccuracy" min=0 max=10 pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Significance of the Work</td>
          <td><input type="number" id="SignificanceoftheWork" name="significanceoftheWork" min=0  max=10  pattern="\b(?:10|\d)\b"required></input></td>

      </tr>
      <tr>
          <td>Appropriate Title, Introduction, and Conclusion</td>
          <td><input type="number" id="AppropriateTitleLongroductionandConclusion" name="appropriateTitleLongroductionandConclusion" min=0  max=10  pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Overall Organization</td>
          <td><input type="number" id="OverallOrganization" name="overallOrganization"  min=0  max="10" pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Appropriate for SAC</td>
          <td> <input type="number" id="AppropriateforSAC" name="appropriateforSAC" min=0 max=10  pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Style and Clarity of Paper</td>
          
<td><input type="number" id="StyleandClarityofPaper" name="styleandClarityofPaper" min=0 max=10  pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Originality of Content</td>
          <td><input type="number" id="OriginalityofContent" name="originalityofContent"  min=0 max=10  pattern="\b(?:10|\d)\b" required></input></td>
      </tr>
      <tr>
          <td>Referee's Confidence in Paper's Subject</td>
          <td><input type="number" id="RefereesConfidenceinPapersSubject" name="refereesConfidenceinPapersSubject"  min=0 max=10 r pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
      <tr>
          <td>Overall Recommendation</td>
          <td><input type="number" id="OverallRecommendation" name="overallRecommendation" min=0 max=10  pattern="\b(?:10|\d)\b" required></input></td>

      </tr>
  </table>

<hr>

    <h2>Comments and Recommendations:</h2>
    <p>Please supply detailed comments to back up your rankings.These comments will be forwarded to the aurthors of the paper.The committe decide the outcome of the paper and will help justify this decision for the aurthors.Moreover,if the paper is accepted,the comments should guide the aurthors in making revisions for a final manuscript .Hence,the more detailed you make comments,the more useful your review will be - both the committe and for the aurthors</p>

      <div class="mi">
    <textarea id="comments" name="comments" rows="8"></textarea>
  </div>
    
<hr>
  
  <h2>Confidential-comments to programme committe</h2>
        <p>You may wish to withhold some comments from the aurthors,and include solely for the committee's internal use.For example,you may want to express a very strong(negative) opinion on the paper,which might pffend the aurthors in some way.Or,perhaps you wish to write something which would expose your identity to aurthors.If you wish to share comments of this nature with the committe,this is the place to put them</p>
        <div class="mi">
          <textarea id="ConfidentialComments" name="confidentialComments" rows="8"></textarea>
        </div>
    <hr>
  
<h2>Over all recommendation</h2>
<label for="decision">Select Decision:</label>
<select id="decision" name="decision" required>
  <option value="accept as it is">Accept as it is</option>
  <option value="accept with minor revisions">Accept with minor revisions</option>
  <option value="accept with major revisions">Accept with major revisions</option>
  <option value="Reject">Reject</option>
</select>

<hr>

<button class="button1" type="submit">Submit Review</button>

</form>

</body>
<script>
	const email = localStorage.getItem("email")
	let reviewId;
	const getLastItem = thePath => thePath.substring(thePath.lastIndexOf('/') + 1);
	var link = window.location.href;
	var userName = document.getElementById("userName")
	var userFirstName = document.getElementById("userFirstName")
	var userLastName = document.getElementById("userLastName")
	
	var paperPid = document.getElementById("paperPid")
	var paperTitle = document.getElementById("paperTitle")
	var paperAuthors = document.getElementById("paperAuthors")
	var paperDateAllocated = document.getElementById("paperDateAllocated")
	var paperDeadline = document.getElementById("paperDeadline")
	
	var TechnicalContentandAccuracy = document.getElementById("TechnicalContentandAccuracy");
	var SignificanceoftheWork = document.getElementById("SignificanceoftheWork");
	var AppropriateTitleLongroductionandConclusion = document.getElementById("AppropriateTitleLongroductionandConclusion");
	var OverallOrganization = document.getElementById("OverallOrganization");
	var AppropriateforSAC = document.getElementById("AppropriateforSAC");
	var StyleandClarityofPaper = document.getElementById("StyleandClarityofPaper");
	var OriginalityofContent = document.getElementById("OriginalityofContent");
	var RefereesConfidenceinPapersSubject = document.getElementById("RefereesConfidenceinPapersSubject");
	var OverallRecommendation = document.getElementById("OverallRecommendation");
	
	var comments = document.getElementById("comments");
	var ConfidentialComments = document.getElementById("ConfidentialComments");
	var decision = document.getElementById("decision");
	
   fetch(`http://localhost:8080/api/review/${getLastItem(link)}/${email}`)
   .then(res => res.json())
   .then(data => {
	   reviewId = data.rid
	   console.log(reviewId)
	   TechnicalContentandAccuracy.setAttribute('value',data.technicalContentandAccuracy);
	   SignificanceoftheWork.setAttribute('value',data.significanceoftheWork);
	   AppropriateTitleLongroductionandConclusion.setAttribute('value',data.appropriateTitleLongroductionandConclusion);
	   OverallOrganization.setAttribute('value',data.overallOrganization);
	   AppropriateforSAC.setAttribute('value',data.appropriateforSAC );
	   StyleandClarityofPaper.setAttribute('value',data.styleandClarityofPaper) ;
	   OriginalityofContent.setAttribute('value',data.originalityofContent) ;
	   RefereesConfidenceinPapersSubject.setAttribute('value',data.refereesConfidenceinPapersSubject);
	   OverallRecommendation.setAttribute('value',data.overallRecommendation);
	   
	   comments.textContent = data.comments;
	   ConfidentialComments.textContent = data.confidentialComments;
	   // decision didnt write bcoz its fetch
   })
   
   fetch(`http://localhost:8080/api/user/${email}`)
   .then(res => res.json())
   .then(data => {
	 
	 	userName.textContent=data.emailId;
		userFirstName.textContent = data.firstName;
		userLastName.textContent = data.lastName;  
   })
   
   fetch(`http://localhost:8080/api/paper/${getLastItem(link)}`)
		.then(res => res.json())
		.then(data => {
			paperPid.textContent = data.pid;
			paperAuthors.textContent = data.authors;
			paperTitle.textContent = data.title;
			paperDateAllocated.textContent = data.dateallocated;
			paperDeadline.textContent = data.deadlinedate;
		})
		
	const form = document.getElementById("reviewForm");
	
	form.addEventListener('submit', function(e){
		e.preventDefault();
		
		const prePayload = new FormData(form);
		const values = Object.fromEntries(prePayload);
		
		console.log(values);
		values["rid"] = reviewId;
		
		fetch(`http://localhost:8080/api/review/save`,{
			method : 'POST',
			body : JSON.stringify(values),
			headers:{
				'Content-Type' : 'application/json'
			}
			})
			
		window.location.href = "/AlreadyReviewed";
	})
	
</script>
</html>